body {
    font-family: sans-serif;
}

#chatlog {
    font-size: small;
    border-width: 2px;
    border-style: solid;
    padding: 0.5em;
    width: 83ch;
    height: 25em;
    overflow-y: auto;
}

.username {
    margin-right: 1%;
    border-color: silver;
    border-radius: 3px;
    background-color: silver;
}